 body {
	background-color: white;
 }

 table, th, td {
	border: 1px solid black;
	width: 20%;
}

 h1 {
	color: black;
	margin-left: 20px;
	font-size: 30px;
 }

 p {
	font-size: 16px;
 }

 .list {
	border: 1px solid black;
	border-radius: 4px;
	margin-right: 1570px;
	padding-left: 30px;
	margin-left: 190px;
	margin-top: 20px;
	font-size: 18px;
 }

 .list2 {
	margin-left: 190px;
	margin-top: 50px;
	font-size: 18px;
}

 img {
	margin-left: -120px;
	margin-top: 0px;
	width: 150;
	margin-bottom: 20px;
{